<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hi</title>
  </head>
  <body>
    <h1>Hi, <%= name %>!</h1>
    <p>Use this code to activate your account</p>
    <p>Your code is</p>
    <h2><%= activationCode%></h2>
    <p>code will be invalid after 5 minutes</p>
  </body>
</html>
