<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>
<body>
    <h1>Hi, <%= name %>!</h1>
    <p>Please click on the link for reset new password</p>
    <p>Click here <%= url %></p>
</body>
</html>

